body {
	padding: 30px;
}
.column-select-container {
	width: 200px;
	padding: 5px;
}
.column-select-list {
	height: 400px;
	overflow: auto;
}
.column-select-items {
	padding: 5px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.column-select-items:last-child {
	border-bottom: none;
}
.column-select-search {
	margin-bottom: 10px;
}